{% extends 'header_footer.html' %}
{% block content  %}
{% load static %}
      <!-- section blue_bg -->
      <div class="section blue_bg">
         <div class="container">
            <div class="row">
               <!-- testimonial section -->
               <div class=" col-md-12">
                  <div class="testimonial">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="titlepage text_align_left">
                              <h2>Customer Reviews</h2>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <form action ="{% url 'cust' %}" method="post">
                              <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                                 <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                 </ol>
                                 <div class="carousel-inner">
                                    <div class="carousel-item active">
                                       <div class="container">
                                          <div class="carousel-caption ">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <div class="testimonial_box text_align_left">
                                                      <p> Great coffee! Rich flavor, smooth and fresh. Highly recommend! </p>
                                                   </div>
                                                </div>
                                                <div class="col-md-12">
                                                   <div class="testimonial_pro">
                                                      <figure><img src="{% static "images/test_pro.jpg" %}" alt="#"/></figure>
                                                      <h3>Mark Jonson <br><span class="cust">Customer</span></h3>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="carousel-item">
                                       <div class="container">
                                          <div class="carousel-caption">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <div class="testimonial_box text_align_left">
                                                      <p> Incredible coffee! Bold flavor, smooth texture. Must try! </p>
                                                   </div>
                                                </div>
                                                <div class="col-md-12">
                                                   <div class="testimonial_pro">
                                                      <figure><img src="{% static "images/test_pro.jpg" %}" alt="#"/></figure>
                                                      <h3>MS Dhoni <br><span class="cust">Customer</span></h3>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="carousel-item">
                                       <div class="container">
                                          <div class="carousel-caption">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <div class="testimonial_box text_align_left">
                                                      <p>uffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going touffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going touffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to</p>
                                                   </div>
                                                </div>
                                                <div class="col-md-12">
                                                   <div class="testimonial_pro">
                                                      <figure><img src="{% static "images/test_pro.jpg" %}" alt="#"/></figure>
                                                      <h3>Ross Taylor <br><span class="cust">Customer</span></h3>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                 <i class="fa fa-angle-left" aria-hidden="true"></i>
                                 <span class="sr-only">Previous</span>
                                 </a>
                                 <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                 <i class="fa fa-angle-right" aria-hidden="true"></i>
                                 <span class="sr-only">Next</span>
                                 </a>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="coff">
                                 <figure><img src="{% static "images/coff.png" %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                    
               <!-- end testimonial section -->
            </div>
         </div>
      </div>
      <!-- end section blue_bg -->
      <!--  footer -->
{% endblock %}      